{% extends 'admin/admin.html.twig' %}

{% block title %}
    Edit Recipe : {{ recipe.getTitle() }}
{% endblock %}

{% block body %}
    <h1>Edit Recipe : {{ recipe.getTitle() }}</h1>

    <p>
        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" width="300" height="200" alt="" >
    </p>

    {{ form(form) }}
{% endblock %}