{% extends 'admin/admin.html.twig' %}

{% block title %}
    Edit Recipe : {{ recipe.getTitle() }}
{% endblock %}

{% block body %}
    <h1>Edit Recipe : {{ recipe.getTitle() }}</h1>

    {{ form(form) }}
{% endblock %}