
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.username) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}